# ignore cache, backups, upgrades, dynamic sitemaps, and image upgrades
wp-content/backup/*
wp-content/cache/*
wp-content/upgrade/*
wp-content/uploads/*
sitemap.*

# Don't upload passwords to the repo!
wp-config.php

# ignore hidden system files
*.DS_Store
*[Tt]humbs.db
*.Trashes

# Include the .htaccess file since it's important
!wp-content/uploads/.htaccess
